#maincontent .comic {
  width: 30%;
  max-width: 300px;
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  box-sizing: border-box;
}
#maincontent .comic .cover img{
  width: 100%;
}


div#maincontent {
    width: 80%;
}


div#menu {
    float: right;
}

div#comicinfo .info img {
    max-width: 250px;
    min-width: 150px;
    float: left;
    margin: 0 15px 15px;
}

#comicinfo .comments {
    clear: both;
    margin: 20px;
}
