@import url('https://fonts.googleapis.com/css?family=Roboto');
/*******************************/
/*******************************/
/****** CrossApp styles ********/
/*******************************/
/*******************************/
body{
  font-family: 'Roboto', sans-serif;
  padding-bottom: 20px;
}
body.login{
  background-color: #1976D2;
}
div#maincontent {
  width: 80%;
  text-align: center;
}
button, form input[type=submit], form input[type=button], a.button {
    border: 0;
    padding: 10px;
    border-radius: 3px;
    font-size: 1em;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    transition: all .3s;
    min-width: 85px;
}
button, form input[type=submit], a.button {
  color: rgba(255,255,255,0.87);
  background-color: #1976d2;
}
button:hover, form input[type=submit]:hover, form input[type=button]:hover, a.button:hover {
    box-shadow: 0 0 5px 0 rgba(0,0,0,.26);
    cursor: pointer;
    opacity: 0.8;
    transition: all .3s;
}
a.button {
  font-size: 1.2em;
  text-decoration: none;
}
form {
    max-width: 450px;
    margin: 0 auto;
    margin-top: 100px;
}
form .form-input input, form textarea, #searchbar input {
    width: 100%;
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.3;
    border-radius: .3rem;
    margin-top: .8rem;
    border: 1px solid #ddd;
    transition: all .3s;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
form .form-input input:focus, #searchbar input:focus {
    border-color: #61ba9e;
    outline: none;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px #a5d8c7;
    transition: all .3s;
}
form .form-controls {
    margin-top: 20px;
    text-align: center;;
    width: 100%;
}
form .form-controls input[type=submit]{
  margin-left: 30px;
}

#maincontent div.messagealert {
    background-color: #ECEFF1;
    box-sizing: border-box;
    padding: 25px;
    max-width: 800px;
    margin: 40px auto;
    text-align: left;
    border-radius: 2px;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    color: #1976D2;
}
#maincontent .messagewarning {
    font-size: 0.8em;
    text-align: left;
    color: red;
    padding-top: 4px;
    width: 98%;
    margin: 0 auto;
}

@media (max-width: 1023px) {
  div#maincontent {
      width: 72%;
  }
}
@media (max-width: 767px) {
  body {
    font-family: 'Roboto', sans-serif;
    padding-bottom: 20px;
    margin: 0;
  }
  div#maincontent {
      width: 100%;
  }
  form {
    margin-top: 45px;
    width: 95%;
  }
}


/*******************************/
/*******************************/
/***** Login Page styles *******/
/*******************************/
/*******************************/
div#maincontent.login {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #1976D2;
}
div#maincontent.login #store-logo {
  max-width: 200px;
  margin: 2% auto;
}
div#maincontent.login #store-logo img{
  width: 100%
}
div#maincontent.login form {
    margin-top: 35px;
    max-width: 330px;
    position: relative;
}
div#maincontent.login form:before {
    position: absolute;
    content: "";
    width: 78%;
    border-bottom: 1px dashed #fff;
    left: 11%;
    top: -16px;
}
div#maincontent.login form .form-input input {
  border-radius: 2px;
  margin-top: 0.9rem;
}
div#maincontent.login form .form-controls input {
  background-color: #fff;
  transition: all .3s;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  color: #1E88E5;
  width: 100px;
  font-size: 1.2em;
  margin-left: 0;
}
div#maincontent.login form .form-input input:focus{
  box-shadow: inset 0 1px 1px rgba(0,0,0,.3),0 0 3px rgba(0,0,0,0.7);
  transition: all .3s;
}
div#maincontent.login form .form-controls input:hover {
  box-shadow: 0 8px 8px rgba(0,0,0,0.24),0 0 8px rgba(0,0,0,0.12);
  color: #1E88E5;
  transition: all .3s;
  opacity: 1;
}
@media (max-width: 767px) {
  div#maincontent.login {
      width: 100%;
      position: relative;
      top: auto;
      left: auto;
      bottom: auto;
      right: auto;
      background-color: #1976D2;
  }
}

/*******************************/
/*******************************/
/****** Nav Menu styles ********/
/*******************************/
/*******************************/
div#menu {
    float: right;
    width: 20%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #1976D2;
}
div#menu #store-logo img{
  width: 80%;
  margin: 3% auto;
  margin-bottom: 50px;
  display: block;
}
div#menu ul{
  padding: 0;
}
div#menu ul li {
    list-style: none;
    color: #FFF;
    padding: 0;
  border: 0;
}

div#menu ul li.menuitem.user {
    margin-bottom: 25px;
    font-size: 20px;
    color: #1976D2;
    background: #fff;
    padding: 10px;
}
div#menu ul li.menuitem.user div.mobile_menu_wrapper{
  display: none;
}
div#menu ul li.menuitem:not(.user) a {
    display: block;
    width: 100%;
    padding: 10px 17px;
    box-sizing: border-box;
    font-size: 18px;
    background-color: transparent;
    transition: all .3s;
}
div#menu ul li.menuitem:not(.user) a:link, div#menu ul li.menuitem:not(.user) a:active, div#menu ul li.menuitem:not(.user) a:visited {
  color: #fff;
  text-decoration: none;
}
div#menu ul li.menuitem.user .fa {
  vertical-align: middle;
}
div#menu ul li.menuitem:not(.user) a .fa {
  margin-right: 10px;
  font-size: 1em;
  transition: all .3s;
}
div#menu ul li.menuitem:not(.user) a:hover .fa {
  font-size: 1.5em;
  transition: all .3s;
}
div#menu ul li.menuitem:not(.user) a:hover {
  background-color: #1E88E5;
  transition: all .3s;
}
@media (max-width: 1023px) {
  div#menu {
    width: 28%;
  }
}
@media (max-width: 767px) {
  div#menu {
      position: relative;
      float: none;
      width: 100%;
  }
  div#menu #store-logo {
    display: inline-block;
  }
  div#menu #store-logo img {
      max-width: 75px;
      margin: 10px;
      margin-top: 15px;
  }
  div#menu ul {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 16px;
    right: 15px;
    z-index: 999;
    background-color: #1976D2;
  }
  div#menu ul.active {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  }
  div#menu ul li.menuitem:not(.user){
    display: none;
  }
  div#menu ul li.menuitem.user + li.menuitem{
      margin-top: 16px;
  }
  div#menu ul li.menuitem.user {
    margin-bottom: 0px;
    padding: 8px 10px;
    position: relative;
    padding-right: 70px;
  }
  div#menu ul li.menuitem.user div.mobile_menu_wrapper {
    position: absolute;
    background-color: #1976D2;
    top: 2px;
    right: 2px;
    bottom: 2px;
    display: block;
    border: 1px solid #fff;
    padding: 0 3px 0 8px;
    width: 38px;
  }
  div#menu ul li.menuitem.user div.mobile_menu_wrapper:hover {
    cursor: pointer;
  }
  div#menu ul li.menuitem.user span.mobile_menu {
    color: #FFF;
    padding: 5px;
    top: 15px;
    right: 3px;
    width: 24px;
    height: 9px;
    margin-right: 5px;
    border-bottom: 3px solid #FFF;
    transition: border-bottom 0.5s;
    position: absolute;
  }
  div#menu ul.active li.menuitem.user span.mobile_menu {
    border: 0;
  }
  div#menu ul li.menuitem.user span.mobile_menu:before {
    content: "";
    position: absolute;
    top: -3px;
    left: 0px;
    width: 100%;
    border-top: 3px solid #FFF;
    transform: rotate(0) translateY(0) translateX(0px);
    transition: all 0.5s;
  }
  div#menu ul.active li.menuitem.user span.mobile_menu:before {
    content: "";
    position: absolute;
    top: -3px;
    left: 0;
    width: 100%;
    transform: rotate(-45deg) translateY(9px) translateX(-8px);
    transition: all 0.5s;
}
  div#menu ul li.menuitem.user span.mobile_menu:after {
    content: "";
    position: absolute;
    top: 8px;
    left: 0px;
    width: 100%;
    border-top: 3px solid #FFF;
    transform: rotate(0) translateY(0px) translateX(0px);
    transition: all 0.5s;
  }
  div#menu ul.active li.menuitem.user span.mobile_menu:after {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 100%;
    transform: rotate(45deg) translateY(0px) translateX(1px);
    transition: all 0.5s;
  }
}
@media (max-width: 480px) {
  div#menu ul {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  }
  div#menu #store-logo {
    display: block;
    text-align: center;
  }
  div#menu #store-logo img {
    margin: 0 auto;
    padding: 10px;
  }
}
/*******************************/
/*******************************/
/**** #listAll View Styles *****/
/*******************************/
/*******************************/

#maincontent #searchbar {
  margin: 20px;
  position: relative;
}
#maincontent #searchbar input {
  padding-left: 47px;
}
#maincontent #searchbar label {
    position: absolute;
    left: 8px;
    top: 18px;
    color: #888;
}
#maincontent .comic {
    width: 29%;
    max-width: 300px;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    box-sizing: border-box;
    background-color: #ECEFF1;
    margin: 20px 15px;
    border-radius: 3px;
    position: relative;
    padding-bottom: 30px;
}
#maincontent .comic .cover img{
  width: 100%;
}
#maincontent .comic div {
  text-align: left;
}
#maincontent .comic .cover {
    margin-bottom: 8px;
}
#maincontent .comic .cover a img {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    transition: all .3s;
}
#maincontent .comic .cover a:hover img {
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.66);
    width: 101%;
    margin-left: -0.5%;
    transition: all .3s;
}
#maincontent .comic .name {
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    color: #1976D2;
    box-sizing: border-box;
    padding: 5px;
}
#maincontent .comic .house_year {
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    padding: 0px 5px;
    color: #546E7A;
}
#maincontent .comic div.moreinfo {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 70px;
    background-color: #0f9d58;
    transition: all .3s;
}
#maincontent .comic div.moreinfo:hover {
  opacity: 0.8;
  transition: all .3s;
}
#maincontent .comic div.moreinfo a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 6px 5px;
    text-align: center;
}
#loadmore {
  margin-left: 25px;
  margin-top: 10px;
}
@media (max-width: 1024px) {
  #maincontent .comic {
    width: 43%;
    padding-bottom: 9%;
  }
}
@media (max-width: 480px){
#maincontent .comic {
    width: 90%;
  }
}
/*******************************/
/*******************************/
/*** #showComic View Styles ****/
/*******************************/
/*******************************/
#maincontent div#comicinfo {
    background-color: #ECEFF1;
    box-sizing: border-box;
    padding: 30px 10px;
    max-width: 800px;
    margin: 40px auto;
    text-align: left;
    border-radius: 2px;
    padding-right: 25px;
}
#maincontent div#comicinfo div {
    margin: 20px 15px;
    font-size: 1.05em;
    color: #546E7A;
}
#maincontent div#comicinfo div strong {
    font-size: 1.1em;
    color: #1976D2;
}

#comicinfo .info img {
    max-width: 250px;
    min-width: 150px;
    float: left;
    margin: -7px 25px 20px 13px;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.26);
}
#maincontent div#comicinfo div.comments {
    clear: both;
    margin: 20px;
    font-size: 0.95em;
    padding-top: 10px;
}
#maincontent div#comicinfo div.comments .singlecomment {
    position: relative;
    padding-top: 23px;
}
#maincontent div#comicinfo div.singlecomment .user {
    font-size: 0.8em;
    margin: 0;
    padding: 4px 8px;
    border-radius: 5px 5px 0 0;
    color: #FFF;
    background-color: #263238;
    position: absolute;
    left: 0;
    top: 0;
}
#maincontent div#comicinfo div.singlecomment:nth-of-type(2n) .user {
  right: 0;
  left: auto;
}
#maincontent div#comicinfo div.singlecomment .commentcontent {
    background-color: #fff;
    padding: 10px;
    border-radius: 0 5px 5px 5px;
    margin: 0 0 20px 0;
}
#maincontent div#comicinfo div.singlecomment:nth-of-type(2n) .commentcontent {
  border-radius: 5px 0 5px 5px;
}
@media (max-width: 1023px) {
  #maincontent div#comicinfo {
    margin-top: 2%;
    padding: 10px;
  }
  #comicinfo .info img {
    margin: -7px 21px 15px;
  }
}
@media (max-width: 480px){
  #comicinfo .info img {
      margin: 0 auto 10px;
      float: none;
      display: block;
      max-width: 300px;
  }
  #maincontent div#comicinfo {
    margin-top: 0;
    padding: 10px;
  }
}
